--
-- PostgreSQL database dump
--

\restrict 0sNUvTGP3bSz21MDx6nPI47byaEe0ePTvWu64dYsd80BSP7FZiHKspbUBOgqY98

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: association_inventory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.association_inventory (
    id bigint NOT NULL,
    association_id bigint NOT NULL,
    item_id bigint NOT NULL,
    last_updated timestamp(6) with time zone NOT NULL,
    max_capacity integer,
    min_required integer,
    stock_quantity integer NOT NULL
);


ALTER TABLE public.association_inventory OWNER TO admin;

--
-- Name: association_inventory_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.association_inventory_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.association_inventory_seq OWNER TO admin;

--
-- Name: association_managers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.association_managers (
    id bigint NOT NULL,
    association_id bigint NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.association_managers OWNER TO admin;

--
-- Name: association_managers_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.association_managers_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.association_managers_seq OWNER TO admin;

--
-- Name: associations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.associations (
    id bigint NOT NULL,
    category character varying(255),
    description character varying(1000),
    location character varying(255),
    name character varying(255) NOT NULL
);


ALTER TABLE public.associations OWNER TO admin;

--
-- Name: associations_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.associations_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.associations_seq OWNER TO admin;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.categories OWNER TO admin;

--
-- Name: categories_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.categories_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_seq OWNER TO admin;

--
-- Name: donation_items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.donation_items (
    id bigint NOT NULL,
    donation_id bigint NOT NULL,
    item_id bigint NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.donation_items OWNER TO admin;

--
-- Name: donation_items_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.donation_items_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.donation_items_seq OWNER TO admin;

--
-- Name: donations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.donations (
    id bigint NOT NULL,
    date timestamp(6) with time zone NOT NULL,
    request_id bigint NOT NULL,
    status character varying(255) NOT NULL,
    user_id uuid NOT NULL,
    CONSTRAINT donations_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'RECEIVED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.donations OWNER TO admin;

--
-- Name: donations_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.donations_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.donations_seq OWNER TO admin;

--
-- Name: item_statistics; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.item_statistics (
    id bigint NOT NULL,
    association_id bigint NOT NULL,
    item_id bigint NOT NULL,
    last_calculated timestamp(6) with time zone NOT NULL,
    total_delivered integer NOT NULL,
    total_received integer NOT NULL,
    total_requested integer NOT NULL
);


ALTER TABLE public.item_statistics OWNER TO admin;

--
-- Name: item_statistics_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.item_statistics_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.item_statistics_seq OWNER TO admin;

--
-- Name: items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.items (
    id bigint NOT NULL,
    api_id character varying(255) NOT NULL,
    category character varying(255),
    description character varying(1500),
    image_url character varying(255),
    name character varying(255) NOT NULL,
    api_source character varying(255) NOT NULL
);


ALTER TABLE public.items OWNER TO admin;

--
-- Name: items_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.items_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_seq OWNER TO admin;

--
-- Name: requests; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.requests (
    id bigint NOT NULL,
    association_id bigint NOT NULL,
    description character varying(2000),
    status character varying(255) NOT NULL,
    summary character varying(500),
    title character varying(255) NOT NULL,
    CONSTRAINT requests_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'CLOSED'::character varying])::text[])))
);


ALTER TABLE public.requests OWNER TO admin;

--
-- Name: requests_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.requests_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.requests_seq OWNER TO admin;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255) NOT NULL
);


ALTER TABLE public.roles OWNER TO admin;

--
-- Name: roles_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.roles_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_seq OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    active boolean NOT NULL,
    email character varying(255),
    name character varying(255),
    password_hash character varying(255),
    role character varying(255),
    username character varying(255),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'MANAGER'::character varying, 'DONOR'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO admin;

--
-- Data for Name: association_inventory; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.association_inventory (id, association_id, item_id, last_updated, max_capacity, min_required, stock_quantity) FROM stdin;
2	152	178	2026-03-01 10:53:36.716538+00	50	2	12
1	152	177	2026-03-01 11:09:45.723262+00	50	30	12
53	152	153	2026-03-01 19:53:46.925668+00	\N	0	2
54	152	154	2026-03-01 19:57:47.252523+00	\N	0	4
55	152	155	2026-03-01 19:57:47.252523+00	\N	0	1
102	152	152	2026-03-02 20:25:13.725956+00	\N	0	2
52	152	2	2026-03-02 23:18:33.401659+00	\N	0	11
\.


--
-- Data for Name: association_managers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.association_managers (id, association_id, user_id) FROM stdin;
102	152	945d9b7a-249f-4ec0-9c7b-41a8474ba80a
\.


--
-- Data for Name: associations; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.associations (id, category, description, location, name) FROM stdin;
152	Parroquia	Una parroquia dedicada a la recogida de alimentos	Granada	Parroquia del Carmen
202	Banco de Alimentos	Asociaci├│n de recogida de alimentos y acogida de necesitados. 	Granada	Asociaci├│n Calor y Caf├®
203	Banco de Alimentos	Banco de alimentos dedicado a la recogida y donaci├│n de alimentos	Granada	Banco de Alimentos Granada
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.categories (id, name) FROM stdin;
\.


--
-- Data for Name: donation_items; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.donation_items (id, donation_id, item_id, quantity) FROM stdin;
1	1	178	2
2	1	177	3
52	2	178	2
53	2	177	3
102	52	2	2
103	52	153	2
104	52	154	2
105	53	2	2
106	53	154	2
107	53	155	1
152	102	2	1
202	152	2	2
203	153	2	2
204	154	2	2
205	155	2	2
252	202	152	2
253	203	153	2
254	203	154	1
255	203	155	1
302	252	153	2
303	252	157	1
\.


--
-- Data for Name: donations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: item_statistics; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.item_statistics (id, association_id, item_id, last_calculated, total_delivered, total_received, total_requested) FROM stdin;
2	152	177	2026-03-01 10:51:58.374139+00	0	3	0
1	152	178	2026-03-01 10:54:11.981355+00	3	15	9
53	152	153	2026-03-01 19:53:46.925668+00	0	2	0
54	152	154	2026-03-01 19:57:47.252523+00	0	4	0
55	152	155	2026-03-01 19:57:47.252523+00	0	1	0
102	152	152	2026-03-02 20:25:13.725956+00	0	2	0
52	152	2	2026-03-02 23:18:33.401659+00	0	11	0
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: requests; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.requests (id, association_id, description, status, summary, title) FROM stdin;
2	152	Leche entera o semidesnatada, 1L	OPEN	Para familias esta semana	Necesitamos leche
52	152	Leche entera o semidesnatada, 1L	OPEN	Para familias esta semana	Necesitamos lentejas
102	152	Debido a la falta de stockage de abichuelas pedimos encarecidamente que se haga una donaci├│n. 	OPEN	Es necesaria la recogida de abichuelas para este mes	Necesitamos Abichuelas
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.roles (id, name) FROM stdin;
1	ADMIN
52	USER
53	Admin
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Name: association_inventory_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.association_inventory_seq', 151, true);


--
-- Name: association_managers_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.association_managers_seq', 151, true);


--
-- Name: associations_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.associations_seq', 251, true);


--
-- Name: categories_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.categories_seq', 1, true);


--
-- Name: donation_items_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.donation_items_seq', 351, true);


--
-- Name: donations_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.donations_seq', 301, true);


--
-- Name: item_statistics_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.item_statistics_seq', 151, true);


--
-- Name: items_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.items_seq', 201, true);


--
-- Name: requests_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.requests_seq', 151, true);


--
-- Name: roles_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.roles_seq', 101, true);


--
-- Name: association_inventory association_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.association_inventory
    ADD CONSTRAINT association_inventory_pkey PRIMARY KEY (id);


--
-- Name: association_managers association_managers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.association_managers
    ADD CONSTRAINT association_managers_pkey PRIMARY KEY (id);


--
-- Name: associations associations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.associations
    ADD CONSTRAINT associations_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: donation_items donation_items_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.donation_items
    ADD CONSTRAINT donation_items_pkey PRIMARY KEY (id);


--
-- Name: donations donations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.donations
    ADD CONSTRAINT donations_pkey PRIMARY KEY (id);


--
-- Name: item_statistics item_statistics_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.item_statistics
    ADD CONSTRAINT item_statistics_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: items uk3mftj7y8pe6xm085rohpuke03; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT uk3mftj7y8pe6xm085rohpuke03 UNIQUE (api_source, api_id);


--
-- Name: item_statistics uk5h2tpvbgiydnn3ymdet4ekpmu; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.item_statistics
    ADD CONSTRAINT uk5h2tpvbgiydnn3ymdet4ekpmu UNIQUE (association_id, item_id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: association_inventory ukcc82yw32kmld4t6fybqcp7g5d; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.association_inventory
    ADD CONSTRAINT ukcc82yw32kmld4t6fybqcp7g5d UNIQUE (association_id, item_id);


--
-- Name: items ukcsb1o4s2rk36w25t4w2yyu2jy; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT ukcsb1o4s2rk36w25t4w2yyu2jy UNIQUE (api_id);


--
-- Name: association_managers ukmry05lgjgv6fvr8fn5xghen4v; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.association_managers
    ADD CONSTRAINT ukmry05lgjgv6fvr8fn5xghen4v UNIQUE (user_id, association_id);


--
-- Name: roles ukofx66keruapi6vyqpv6f2or37; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT ukofx66keruapi6vyqpv6f2or37 UNIQUE (name);


--
-- Name: categories ukt8o6pivur7nn124jehx7cygw5; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT ukt8o6pivur7nn124jehx7cygw5 UNIQUE (name);


--
-- Name: items uq_items_source_apiid; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT uq_items_source_apiid UNIQUE (api_source, api_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 0sNUvTGP3bSz21MDx6nPI47byaEe0ePTvWu64dYsd80BSP7FZiHKspbUBOgqY98

